* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  height: 10vh;
  color: aliceblue;
  position: sticky;
}
.nav h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 12px;
}
.search {
  position: relative;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
}
.search form {
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search input {
  width: 60%;
  padding: 12px;
  border: 2px solid black;
  border-radius: 22px;
  background-color: #f0f8ff72;
}

.search button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 22px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.search button:hover {
  background-color: #0056b3;
}

/* weather */
.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  gap: 10px;
  background-color: #c6d5e7;
}
.weather h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 52px;
}
.weather p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}
.weather h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 32px;
}
.weather img{
  width: 172px;
}